/* ! Referenciando estilos do html como um todo */
:root {
    
/* *Definindo propriedades que vao poder ser replicadas
*ao longo de toda a página em formato de variaveis globais*/
--title-color: #322153;
--primary-color: #34cb79;
}

/* ! Zerando espaços padrões da página (Reset page) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background:#f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

/* ? BOX MODEL 
*Conhecido por modelo de caixa, diz que toda caixa tem
*largura, altura, espaçamentos, preenchimento, borda, cor
*e tem a maneira que é vista pelo html(display), alinhamentos,
*posicionamento
*/ 
